/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.btn {
background-color: transparent;
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) ;
text-transform: none;
  letter-spacing: 0;
}

label.flow-text{
color: #000000;;
}

/****************************
GENERAL
*****************************/
.card, .container {
	min-width: 500px;
	max-width: 700px;
}

/****************************
REGISTRATION FORM
*****************************/
.card-action .row, .card-content .row {
	margin-bottom: 0px;
}

.dropdown-content {
	max-height: 212px;
}

#registration-card-container .tabs .indicator{
	background-color: #2196F3;
}

#registration-card-container .tabs .tab a.active {
	color: #2196F3;
}

#registration-card-container{
	margin-left: auto;
	margin-right: auto;
}

#registration-card-container .card-content {
	padding-top: 0px;
}

#registration-submit-btn{
	margin: 10px auto;
	width: 40%;
	
}

#error-msg{
	margin-top: 0px;
}
#srm-mail {
	padding-top:25px;
}

#official, #professional {
	min-height: 294px;
}

#register-number {
	margin-bottom: 40px;
}

